body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;

  border: white 10px solid;
}
#foo {
  font-size: 40px;
}
#bar {
  font-size: 40px;
}
#track > .image {
  width: 46vmin;
  height: 50vmin;
  object-fit: none;
  object-position: 100% 50%;
}

#track {
  background-color: black;
  display: flex;
  gap: 20vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

.image {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
